body {background-color :#ADD8E6;
    color: #F2F2F2;
}

#titulo {
  color: #036c8c;
  text-align:center;
  font-size: 40px;
}
.texto1 {
  color: #034a8c;
  text-align:justify;
  font-size: 28px;
  font-family: Lucida Sans;
}

.texto2 {
  color: rgb(3, 101, 140);
  text-align:justify;
  font-size: 38px;
  font-family: Lucida Sans;
}